<div class="place">
  <div class="tile">
      <span class="label">
        Name:
      </span>
      <span class="value">
        {{ name }}
      </span>
    </div>
    <div class="tile">
      <span class="label">
        Description:
      </span>
      <span class="value">
        {{ description }}
      </span>
    </div>
    <div class="tile">
      <span class="label">
        Country:
      </span>
      <span class="value">
        {{ country }}
      </span>
    </div>
    <div class="tile">
      <span class="label">
        City:
      </span>
      <span class="value">
        {{ city }}
      </span>
    </div>
    <div class="footer">
      <button (click)="clickedEdit($event)">Edit</button>
      <button (click)="clickedRemove($event)">Remove</button>
    </div>
    <input
      #inputElementRef
      placeholder="place comps input"
    >
    <ng-content></ng-content>
    <!--
      <div class="footer">
        <button
          (click)="clickedEdit($event)"
          (mouseover)="onMouseOver()"
          (mouseout)="onMouseOut()"
        >Edit</button>
        <button (click)="clickedRemove($event)">Remove</button>
      </div>
      <div>Initial data binded only!</div>
      <input [ngModel]="initialDataBindOnly">
      {{ initialDataBindOnly }}
      <hr>
      <div>Initial and data changes bind!</div>
      <input [(ngModel)]="initialAndDataBind">
      {{ initialAndDataBind }}
    -->
</div>