<div class="place container">
  <div class="card">
    <div class="card-img-top">
      <img [src]="image ? image : 'assets/' + imageId + '.png'" [alt]="description" class="img-fluid">
    </div>
    <div class="card-body">
      <div class="tile">
        <span class="label">
          Name:
        </span>
        <span class="value">
          {{ name | uppercase }}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Description:
        </span>
        <span class="value">
          {{ description | lowercase }}
          <div>
            {{ description | charCount }}
          </div>
          <div>
            {{ description | charCount:10 }}
          </div>
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Country:
        </span>
        <span class="value">
          {{ country | titlecase }}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          City:
        </span>
        <span class="value">
          {{ city | titlecase}}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Average price:
        </span>
        <span class="value">
          {{ averagePrice | currency:'EUR'}}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Your price:
        </span>
        <ng-container *ngIf="averagePriceObservable | async as yourPrice; else loading">
          <span class="value">
              {{ yourPrice | currency:'EUR'}}
            </span>
            <span class="label">
              Discount:
            </span>
            <span class="value red">
              -{{ (averagePrice - yourPrice) | currency:'EUR'}}
            </span>
        </ng-container>
        <ng-template #loading>
          <span class="value">Loading...</span>
        </ng-template>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <mat-form-field>
            <input
              matInput
              class="form-control"
              #inputElementRef
              placeholder="place comps input"
            >
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <ng-content></ng-content>
        </div>
      </div>
      <div class="footer">
        <button
          matTooltip="Remove this location from the list"
          class="btn btn-danger"
          (click)="clickedRemove($event)">Remove</button>
        <button
          matTooltip="Edit information about this location"
          mat-raised-button
          color="primary"
          (click)="clickedEdit($event)">Edit</button>
      </div>
      <!--
        <div class="footer">
          <button
            (click)="clickedEdit($event)"
            (mouseover)="onMouseOver()"
            (mouseout)="onMouseOut()"
          >Edit</button>
          <button (click)="clickedRemove($event)">Remove</button>
        </div>
        <div>Initial data binded only!</div>
        <input [ngModel]="initialDataBindOnly">
        {{ initialDataBindOnly }}
        <hr>
        <div>Initial and data changes bind!</div>
        <input [(ngModel)]="initialAndDataBind">
        {{ initialAndDataBind }}
      -->
    </div>
  </div>
</div>