<div class="place container">
  <div class="card">
    <div class="card-img-top">
      <img [src]="image ? image : 'assets/' + imageId + '.png'" [alt]="description" class="img-fluid">
    </div>
    <div class="card-body">
      <div class="tile">
        <span class="label">
          Name:
        </span>
        <span class="value">
          {{ name | uppercase }}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Description:
        </span>
        <span class="value">
          {{ description | lowercase }}
          <div>
            {{ description | charCount }}
          </div>
          <div>
            {{ description | charCount:10 }}
          </div>
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Country:
        </span>
        <span class="value">
          {{ country | titlecase }}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          City:
        </span>
        <span class="value">
          {{ city | titlecase}}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Average price:
        </span>
        <span class="value">
          {{ averagePrice | currency:'EUR'}}
        </span>
      </div>
      <div class="tile">
        <span class="label">
          Your price:
        </span>
        <ng-container *ngIf="averagePriceObservable | async as yourPrice; else loading">
          <span class="value">
              {{ yourPrice | currency:'EUR'}}
            </span>
            <span class="label">
              Discount:
            </span>
            <span class="value red">
              -{{ (averagePrice - yourPrice) | currency:'EUR'}}
            </span>
            <ng-container *myUnless="averagePrice - yourPrice < 50">
              <span class="label" [ngStyle]="{color:'#f00'}">
                Jackpot!! Great savings!
              </span>
            </ng-container>
        </ng-container>
        <ng-template #loading>
          <span class="value">Loading...</span>
        </ng-template>
      </div>
      <div class="footer" *ngIf="!hideFooter">
        <button
          matTooltip="Remove this location from the list"
          class="btn btn-danger"
          (click)="clickedRemove($event)">Remove</button>
        <button
          matTooltip="View information about this location"
          mat-raised-button
          color="primary"
          (click)="clickedViewDetails($event)">View</button>
      </div>
      <hr>
      <div class="footer extra-actions">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>