<div class="nav-and-buttons">
  <nav class="nav nav-pills">
    <a class="nav-link" routerLinkActive="active" routerLink="/all">All Places</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/upcoming" *ngIf="(authService.user$ | async).isAuthenticated">Upcoming Vacations</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/past" *ngIf="(authService.user$ | async).isAuthenticated">Past Vacations</a>
  </nav>
  <div class="auth-button">
    <button class="button btn btn-warning" routerLink="/place/create" *ngIf="(authService.user$ | async).isAuthenticated">+Add Place</button>
    <button class="button btn btn-primary" (click)="onClickLogin()" *ngIf="!(authService.user$ | async).isAuthenticated">Login</button>
    <button class="button btn btn-primary" (click)="onClickLogout()" *ngIf="(authService.user$ | async).isAuthenticated">Logout</button>
  </div>
</div>

<router-outlet></router-outlet>