<div class="form-container">
  <div class="preview-panel">
    <place
        [name]="place.name"
        [description]="place.description"
        [country]="place.country"
        [city]="place.city"
        [id]="place.id"
        [image]="place.image"
        [averagePrice]="place.averagePrice"
        [hideFooter]="true"
      ></place>
  </div>
  <form 
    (ngSubmit)="onClickSave()"
    #formRef="ngForm"
    *ngIf="place">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        name="name"
        id="name"
        type="text"
        [(ngModel)]="place.name"
        required
        #name="ngModel"
      >
      <span class="text-danger" *ngIf="(name.touched || formRef.submitted) && !name.valid">Invalid!</span>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        [(ngModel)]="place.description"
        required
        #description="ngModel"
      ></textarea>
      <span class="text-danger" *ngIf="(description.touched || formRef.submitted) && !description.valid">Invalid!</span>
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input
        name="country"
        id="country"
        type="text"
        [(ngModel)]="place.country"
        #country="ngModel"
        required
      >
      <span class="text-danger" *ngIf="(country.touched || formRef.submitted) && !country.valid">Invalid!</span>
    </div>
    <div class="form-group">
      <label for="city">City</label>
      <input
        name="city"
        id="city"
        type="text"
        [(ngModel)]="place.city"
        #city="ngModel"
        required
      >
      <span class="text-danger" *ngIf="(city.touched || formRef.submitted) && !city.valid">Invalid!</span>
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input
        name="image"
        id="image"
        type="text"
        [(ngModel)]="place.image"
        #image="ngModel"
        required
      >
      <span class="text-danger" *ngIf="(image.touched || formRef.submitted) && !image.valid">Invalid!</span>
    </div>
    <div class="form-group">
      <label for="averagePrice">Average Price</label>
      <input
        name="averagePrice"
        id="averagePrice"
        type="number"
        [(ngModel)]="place.averagePrice"
        #averagePrice="ngModel"
        required
      >
      <span class="text-danger" *ngIf="(averagePrice.touched || formRef.submitted) && !averagePrice.valid">Invalid!</span>
    </div>
    <div class="footer">
      <button 
        class="btn btn-warning"
        (click)='onClickCancel()'
        type="button"
      >Cancel</button>
      <button 
        class="btn btn-primary"
        type="submit"
        [disabled]="formRef.invalid"
      >Save</button>
    </div>
  </form>
</div>