/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap"

.label
  font-weight: 400
  min-width: 140px
  display: inline-block

.general-container
  background-color: #f3f3f3
  display: flex
  flex-wrap: wrap